@{
    ViewBag.Title = "About";
}

@*<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/Calculator/style.css">
</head>
<body>*@
    <section class="total" style="background-color: #F7BE81">
        <h2>@ViewBag.Title.</h2>
    </section>
    <section class="total" style="background-color: #F3E2A9">
        <h3>@ViewBag.Message</h3>
    </section>
    <section class="total" style="background-color: #F7BE81">
        <p>Use this area to provide additional information.</p>
    </section>
@*</body>
</html>*@
