@{
    ViewBag.Title = "About";
}

<section class="total" style="background-color: #F7BE81">
    <h2>@ViewBag.Title</h2>
</section>
<section class="total" style="background-color: #F3E2A9">
    <h3>@ViewBag.Message</h3>
</section>
<section class="total" style="background-color: #F7BE81">
    <p>
        This application was created with the aim of 
        introducing and learning programming languages such as C# and Javascript.
        Fulfilled student A-level group .Net/C# Advance2 Roman Orchikov.
    </p>
</section>
