@{
    ViewBag.Title = "Contact";
}

<section class="total" style="background-color: #81F79F">
    <h2>@ViewBag.Title</h2>
</section>
<section class="total" style="background-color: #7FFFD4">
    <h3>@ViewBag.Message</h3><br/>
    
    <address>
        A-level<br />
        Kharkiv, UA<br />
        <abbr title="Phone">P:</abbr>
        +38(050)144-3732 | +38(068)811-3262
    </address>
</section>
<section class="total" style="background-color: #81F79F">
    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">orchikov97roman@gmail.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">a.level.ua@gmail.com</a>
    </address>
</section>
